.header{
    margin: 0 auto;
}
.header__container{
    display: flex;
    background: #313131;
    max-width: 1900px;
    height: 70px;
}
.header__nav{
    list-style: none;
    display: flex;
    position: relative;
    justify-content: center;
}
.header__menu{
    display: flex;
}
.header__menu-title{
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    padding-top:  30px;
    padding-bottom: 22px;
    margin-left: 0;
}
.header__item{
    color: white;
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    padding-top: 28px;
    padding-bottom: 26px;
    margin-left: 35px;
}
.logo{
    width: 27px;
    height: 27px;
    padding:22px 27px 21px 27px ;
}
.search{
    position: absolute;
    width: 17px;
    height: 17px;
    background: black;
    padding: 27px 26px 26px 26px ;
    left: 1840px;
}
.header__item-link:hover{
    color: #14B9D5;
    cursor: pointer;
}
.header__item-link{
    text-decoration: none;
    color: white;
}
.background{
    background-image: url("../images/header-background.png");
    width: 1900px;
    height: 369px;
    display: flex;
    position: relative;
}
.background__container{
    display: flex;
    justify-content: center;
}
.header__background-title{
    position: absolute;
    top: 167px;
    left: 658px;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    align-self: center

}
.button1{
    width: 170px;
    height: 55px;
    background: #89CA62;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    text-align: center;
    padding: 16px 19px 17px 19px ;
    border: 1px solid #89CA62;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 239px;
    left: 797px;
}
.button2{
    position: absolute;
    width: 170px;
    height: 55px;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    background: #14B9D5;
    padding: 16px 19px 17px 19px ;
    border: 1px solid #14B9D5;
    border-radius: 5px;
    cursor: pointer;
    top: 239px;
    left:987px ;
}
.main{
    background: #F2F2F2;
    width: 1900px;
    height: 1030px;
    margin-top: 0;
}
.main__title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    justify-content: center;
}
.container{
    display: flex;
    margin: auto;
    justify-content: center;
}
.columns{
    display: flex;
    flex-direction: column;
}
.main__photo-item1{
    background: url("../images/vanglo-house-1 1.png") ;
    width: 370px;
    height: 259px;
    position: relative;

}
.main__photo-item2{
    background: url("../images/vanglo-house-6.png");
    width: 370px;
    height: 260px;
    margin-top: 31px;

}
.main__photo-item3{
    background: url("../images/8049193541_1281644acb_o.png");
    width: 370px;
    height: 380px;
    margin-left: 30px;
}
.main__photo-item4{
    background: url("../images/p1_8.png");
    width: 370px;
    height: 247px;
    margin-left: 30px;
    margin-top: 31px;
}
.main__photo-item5{
    background: url("../images/ringve-museum-1.png");
    width: 370px;
    height: 290px;
    margin-left: 30px;
}
.main__photo-item6{
    background: url("../images/7328272788_c5048326de_o.png");
    width: 370px;
    height: 380px;
    margin-left: 30px;
    margin-top: 31px;
}
.main__text{
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #353A3D;
    background: white;
    padding: 19px 19px 23px 21px;
    align-self: flex-end;
}

.content__background{
    background-image: url("../images/Layer2.png");
    width: 1900px;
    height: 588px;
}
.content__title{
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    position: relative;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    padding-top:106px ;
}
.content__title:not(.content__title--reset)::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    position: absolute;
    background-color: #18B4CF;
    left: 50%;
    transform: translateX(-50%);
    top: 239px;
}
.content__photo-container{
    display: flex;
    justify-content: center;
    padding-top: 197px;
}
.content__item{
    margin-left: 58px;
}
.consult__title{
    color: #14B9D5;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
}
.consult__gallery{
    display: grid;
    grid-template-columns: repeat(7, 8fr);
    margin-top: 52px;
}
.consult__item{
    width: 271px;
    height: 190px;
}
.consult__content-item{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    margin-bottom: 50px;
}
.consult__text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #5B6469;
}
.consult__container{
    justify-content: center;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
}
.consult__content{
    justify-content: center;
}
.consult__content-item:first-child{
    background-image: url("../images/post-1-img.png");
    width: 483px;
    height: 259px;
    position: relative;

}
.consult__item-container{
    position: absolute;
    left: 483px;
    width: 350px;
    height: 259px;
    background:#F2F2F2 ;
}
.consult__content-item:nth-child(2){
    background-image: url("../images/post-2-img.png");
    width: 277px;
    height: 210px;
    position: relative;
}
.consult__content-item:nth-child(3){
    background-image: url("../images/post-3-img.png");
    width: 554px;
    height: 259px;
    position: relative;
}
.consult__content-item:nth-child(4){
    background-image: url("../images/post-4-img.png");
    width: 554px;
    height: 259px;
    position: relative;
}
.consult__content-item:nth-child(5){
    background-image: url("../images/post-4---img.png");
    width: 554px;
    height: 259px;
    margin-top: 140px;
    position: relative;
}
.consult__content-item:nth-child(6){
    background-image: url("../images/post-6-img.png");
    width: 554px;
    height: 259px;
    position: relative;
    margin-top: 140px;
}
.consult__content-item:nth-child(7){
    background-image: url("../images/post-7-img.png");
    width: 277px;
    height: 210px;
    margin-top: 140px;
    position: relative;
}
.consult__content-item:last-child{
    background-image: url("../images/post-8-img.png");
    width: 483px;
    height: 259px;
    margin-top: 100px;
    margin-left: 0;
    position: relative;

}
.consult__text-title1{
    position: absolute;
    left: 0;
    top: 180px;
    background: #F9F7F7;
    width: 223px;
    height: 23px;
    padding: 14px 27px 11px 27px;
}
.consult__item-container1{
    position: absolute;
    width: 554px;
    height: 104px;
    top: 260px;
    background: #F9F7F7;
    text-align: center;
}
.footer{
    background: black;
    width: 1901px;
    height: 80px;
    display: flex;
}
.copyright{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    padding-left: 367px ;
}
.logo__copy{
    width: 64px;
    height: 16px;
    align-self: center;
}
.logo{
    width: 38px;
    height: 24px;
    margin-left: 559px;
}
